*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: url(./image/fond.jpg);
    padding: 7em;
    padding-top: 2em;
}
header{

    background-image:url(./image/header.jpg);
    background-size: cover; 
    height: 8vh;
    display: flex;
}
 nav{

    height: 5vh;
    background-image: url(./image/fond1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.boutons{
    background: linear-gradient(#225ca1, #7fcdef);
    height: 3.5vh;
    width: 10vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
}
.boutons:hover{
    background: none;
    color: black;
}

.avecEnfant:hover .sousmenu {
    display: flex;
}

.sousmenu {
    color: white;
    display: none;
    position: absolute;
    flex-flow: column wrap;
    background: linear-gradient(#073C61,#88cdff);
    text-shadow: 2px 1px 2px black;
    padding: 0.3em;
    white-space: nowrap;
    width: 10vw;
    border-radius: 1em;
}
.espace{
    flex: 2;
}
.espace1{
    flex: 1;
}
.cookie{
    position: absolute;
    background-image: url(./image/cookie.png);
    height: 8vh;
    width: 5%;
    margin-left: 1em;
    background-size: cover;
    background-position: center;


}

#titre{
    font-weight: bold;
    margin: auto;
    font-size: 2em;
}
.video{
    height: 50%;
    width: 50%;
}

.top{
    padding: 1em;
    display: flex;
}



.box{
    margin-left: 1em;
    background-color: white;
    height: 51vh;
    overflow-y: scroll;
}
.intbox{
    height: 95vh;
}

.article{
    text-align: center;
    display: flex;
    width: 60vw;
    margin: auto;
    margin-top: 5em;
}
#textsurlecoter{
    padding: 0.5em;
    border: solid 1px blue;
    border-radius: 1em;
    text-align: justify;

}
footer{
    background-image: url(./image/fond1.png);
    display: flex;
    height: 8vh;
}

.voiture