/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
}


img, video {
	height: 100%;
}

body{
	background-color: #e5ebf7;
}

.espace{
	flex: 0.5;
}
.espaceHaut{
	height: 5vh;
}

/**** MENU ****/

nav{
	background-color: white;
	display: flex;
	align-items: center;
	text-align: center;
	border-bottom: 0.5vh solid  #0a6290;
}
.logo{
	height: 4.5vh;
}

.tel{
	display: none;
}


.elmMenu{
	color: #0a6290;
	flex: 2;
	cursor: pointer;
	height: 5vh;
	padding-top: 0.5em;
}
.deroulant:hover{
	color: white;
	background-color: #0F628E;
}

.elmMenu:hover .elmSousMenu {
    display: flex;
}

.elmSousMenu {
	text-align: left;
    color: white;
    display: none;
    position: absolute;
    flex-flow: column wrap;
    background-color: #2987BE;
    padding: 0.3em;
    width: 19.5vw;
	margin-top: 2.5vh;
}
.logo{
	left: 5px;
	flex: 1;
}

.imgHeader{
	background-image: url(../IMG/esat-ttg-02.jpg);
	background-position: center;
	background-size: cover;
	height: 95vh;
}

.scrollDown{
	width: 100%;
	position: absolute;
	bottom: 2vh;
	text-align: center;
	color: white;
	font-size: 1.5em;
}

.FlecheDown{
	margin-top: 0.3em;
	width: 4vh;
	height: 3vh;
}

/**** ARTICLE ****/

section{
	width: 80vw;
	margin: 5vh 4vw;
	background-color: white;
	padding: 5vh;
}

.articleAvImgTel{
	display: none;
}
.article{
	margin: 2em 0;
}
.titreArticle{
	color: #0a6290;
	font-weight: bolder;
	padding-bottom: 1em;
}

.articleAvImgPc{
	display: flex;
}
.imgArticle{
	height: 25vh;
	border: 2px solid black;
	padding: 1em;
}
.elmArticle{
padding: 0 1.5em;
}

/**** FOOTER SECTION ****/

.footerSection{
	color: #0a6290;
	display: flex;
	position: absolute;
	right:0;
	margin-right: 9vw;
	border-bottom: 1px dashed #0a6290;
}

.flex{
	margin-right: 0.5em;
}

.imgFooter{
	height: 2vh;
}

.globalFooter{
	padding: 1em;
	color: white;
	display: flex;
	background-color: #0a6290;
}

.titreFooter{
	font-weight: bold;
	font-size: 1.2em;
}

footer div{
	flex: 1;
}

.copyright{
	padding: 0.5em;
	text-align: center;
	color: white;
	background-color: black;
}



@media only screen and (max-device-width: 800px) {

	.tel{
		display: flex;
	}
	.pc{
		display: none;
	}
	.imgHeader{
		background-image : url(../IMG/espaces-verts-02.JPG);
	}
	.elmMenu{
		font-size: 2em;
	}
	.scrollDown{
		display: none;
	}

	.elmArticle{
		padding: 0;
	}

	.globalFooter{
		flex-direction: column;
		padding: 0 20vw;
	}

	.articleAvImgPc{
		display: none;
	}

	.articleAvImgTel{
		display: block;
	}

	.articleAvImg{
		display: block
	}
	.imgArticle{
	text-align: center;
    height: 32vh;
	margin: 2em;	
	border: none;
	}
	
}