/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
}



img, video {
	width : 100%;
}

header{
	padding: 0.5em;
	align-items: center;
	font-size: 2em;
	background-color: grey;
	color: black;
	font-weight: bolder;
	text-align: center;
}

footer{
	background: black;
	height: 5vh;
}

body{
	background-color: black;
}

a{
	text-decoration: none;
	font-size: 1.5em;
	color: white;
	padding: 0.5em;
	border-radius: 0.5em;
}
.edit{
	background-color: orangered;
}
.voir{
	background-color: blue;
}
.supp{
	background-color: red;
}
.new{
	background-color: green;
}
a:hover{
	opacity: 0.5;
}

.titrePage{
	background-color: black;
	color:white;
	text-align: center;
	letter-spacing: 0.2em;
	font-weight: bolder;
	font-size: 2em;
	padding: 0.5em;
	
}

.nomProduit{
	color: white;
}
/*******LISTE PRODUITS****/

.produit{
	text-align: center;
	display : flex;
	flex : 3;
	padding: 0.5em;
	margin: 0.5em;
	justify-content: space-around;
}

.produit div{
	flex: 1;
}

.hidden{
	display: none;
}