/****  GENERAL ****/
html, body {
	margin : 0;
	padding : 0;
}

div, header, footer, nav, article {
	display : flex;
	flex : 1;
}

img, video {
	width : 100%;
}

header{
	padding: 0.5em;
	align-items: center;
	font-size: 2em;
	background-color: grey;
	color: black;
	font-weight: bolder;
}

footer{
	background: black;
	height: 5vh;
}


/*******LISTE PRODUITS****/

.produit{
	
	padding: 0.5em;
	background-color: coral;
}

.hidden{
	display: none;
}