body{
    margin:0;
    padding: 0;
}

div{
    display: flex;
    flex : 1;
    margin:10px;
}

.main{
    border : 5px blue solid;
    height:1500px;
}

.top{
    border : 5px orange solid;
}