.carre{
  flex : none;
  width:8em;
  height:8em;
  position:absolute;
  background-color:darkblue;
  top:100px;
  left:100px;
}
.obstacle{
  flex : none;
  width:8em;
  height:8em;
  position:absolute;
  background-color:rgb(20, 168, 206);
  top:250px;
  left:400px;
}
.colonne{
  flex-direction:column;
}
.centre{
  justify-content: center;
}
div{
  display : flex;
}