*{
    margin: 0;
    padding: 0;
}

header{
    background-image:url(./IMG/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    width: 100vw;

}
