*{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}

i{
    cursor: pointer;
}
.info{
    text-align: center;
}

.croix{
    color: red;
}
.question{
    color: grey;
}
.content {
    background-color: rgb(43, 43, 43);
    color: blanchedalmond;
    padding: 2em;
}
.elmForm{
    text-align: center;
    margin: 2em;
}
label {
    display:inline-block;
    width:8em;
    text-align:right;
}
input{
    width: 15em;
}
.center{
    margin: 2em;
    text-align: center;
}
  input[required] +span::after{
	content: '*';
	color: red;
}
input{
    border: grey 5px solid;
}
