*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
h1{
    color: black;
}
body{
    background-color: black;
}

i{
    cursor: pointer;
}
.info{
    text-align: center;
}

.croix{
    color: red;
}
.question{
    color: grey;
}
.content {
    background-color: rgb(43, 43, 43);
    color: blanchedalmond;
    padding: 2em;
}
.elmForm{
    text-align: center;
    margin: 2em;
}
label {
    display:inline-block;
    width:12em;
    text-align:right;
}
.center{
    margin: 2em;
    text-align: center;
}
input[required] +span::after{
	content: '*';
	color: red;
}
input{
    border: grey 5px solid;
    width: 15em;
}
#mdp{
    background-image: url(./eye.png);
}
.fa-times-circle{
    color: red;
}

.aideMdp {
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 0;
    right : 10vh;
    font-size: 0.8em;
    white-space: nowrap;
    border-radius: 2vh;
    background-color: rgba(24, 24, 24, 1);
    padding: 1vh;
}

.aideMdp > div{
    display: flex;
}

.gauche {
    justify-content: start;
    padding-left: 1vw;
}

.info {
    position: relative;
}

.picto {
    flex: 0.2;
    margin: 0 1vw;
}
