<link rel="stylesheet" href="../../CSS/Style.css">

<section>

    <!-- <input type="text" value="$_SESSION['utilisateur']->getPrenomStagiaire()"> -->
    <div class="row center">
        <div class="info colonne center">
            <label for="prenom">Prenom :</label>
            <input type="text" name="prenom" value="PrenomStagiaire" disabled>
        </div>
        <div class="info colonne center">
            <label for="nom">Nom :</label>
            <input type="text" name="nom" value="NomStagiaire" disabled>
        </div>
    </div>
    <div class="row">
        <div class="info colonne center">
            <label for="prenom">Prenom :</label>
            <input type="text" name="prenom" value="PrenomStagiaire" disabled>
        </div>
        <div class="info colonne center">
            <label for="nom">Nom :</label>
            <input type="text" name="nom" value="NomStagiaire" disabled>
        </div>
    </div>
    <div class="row">
        <div class="info colonne center">
            <label for="prenom">Prenom :</label>
            <input type="text" name="prenom" value="PrenomStagiaire" disabled>
        </div>
        <div class="info colonne center">
            <label for="nom">Nom :</label>
            <input type="text" name="nom" value="NomStagiaire" disabled>
        </div>
    </div>
    <div class="row">
        <div class="info colonne center">
            <label for="emailTuteur">Email de votre tuteur :</label>
            <input type="text" name="emailTuteur" value="PrenomStagiaire">
        </div>
    </div>
</section>