/*-----------------------------------GLOBAL---          --------------------------------------*/
body {
	background-color: rgb(12, 111, 240);
	color: black;
	text-align: center;
}

img {
	width: 100%;
}

.espace{
	height: 5vh;
}

#ico{
	width: 10vh;
}

.info{
	font-size: 1.5em;
}

#nomVille{
	font-size: 3em;
	font-weight: bolder;
}

label{
	font-size: 1.5em;
}

input{
	border-radius: 1vh;
	border: 5px solid rgb(69, 104, 218);
	text-align: center;
	font-weight: bolder;
}
